# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# python
*.pyc
__pycache__/

# misc
.DS_Store
*.pem

# Accessibility scan outputs
/reports/
/logs/

node_modules
axel
Sitemap 
/dist/